<is-size-4>Event details</is-size-4>
<p>
    <strong>Organized By:</strong>
    <%= @event.creator.email %>
</p>
<p>
    <strong>Location:</strong>
    <%= @event.location %>
</p>
<p>
    <strong>Date:</strong>
    <%= @event.date %>
</p>

<p>
    <strong>Attendees: <%= @event.attendees.count %></strong>
    <% @event.attendees.each do |attendee| %>
    <br/><%= attendee.email %>
    <% end %>
</p>

<% if user_signed_in? %>
    <% enrollment = Enrollment.find_by(event_id: @event.id, user_id: current_user.id) %>
    <% if enrollment %>
    <%= link_to 'Cancel Enrollment', destroy_enrollment_path(enrollment.id), :method => :delete, class: "button is-warning" %>
    <% else %>
    <%= link_to 'Enroll', create_enrollment_path(event_id: @event.id), :method => :post, class: "button is-info" %>
    <% end %>
<% end %>

<p>
    <%= link_to 'Back', root_path %>
</p>
